{% extends "base.html" %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">about us</h1>
      <p class="lead fw-normal text-white-50 mb-0">welcome to Ankasory store</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br/><br/>
        <p align="justify">
          Welcome to Ankasory, your go-to destination for discovering unique and
          high-quality products right from the heart of Prague! Our mission is
          to bring the best of Prague's creativity, craftsmanship, and
          innovation directly to you, offering a carefully curated selection of
          products that reflect the spirit and charm of this beautiful city.
          Whether you’re looking for handcrafted items, innovative tech gadgets,
          or exquisite home decor, our platform is dedicated to connecting you
          with products that embody Prague’s unique culture and style. We
          partner with local artisans, designers, and businesses to ensure each
          item we feature meets our high standards for quality, authenticity,
          and sustainability. At Ankasory, we’re more than just a marketplace;
          we’re a community of Prague enthusiasts who value originality, beauty,
          and the story behind every product. Join us on a journey to explore
          the treasures of Prague, from one-of-a-kind finds to timeless
          classics, all just a click away. Thank you for choosing Ankasory—where
          Prague’s best comes home to you!
        </p>
        <br/><br/>
      </div>
    </center>
  </div>
</div>
{% endblock %}
